@import 'config/_mixins';
@import 'config/_font';
@import 'general/_reset';

// My scss
body {
	font-family: $primaryFont;
	overflow: hidden;
	@include clearfix;
}

#repos {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
	color: #fff;
	background: #05a;
}

#commits {	
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
}